{% extends 'userprofile/base.html'%}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
{% if request.user.is_authenticated %}
<p class="col-md mx-auto">
    Para acessar a área de cadastro você deve deslogar.
</p>
{% else %}
<h3>{{titulo}}</h3>
<div class="form-group col-md-6 mb-0">
    <form action="" method="POST">
        {% csrf_token %}
        {{form | crispy}}
        <input type="submit" class="btn btn-primary" value="Cadastrar">
    </form>
</div>

{%endif%}


{% endblock %}