{% extends 'userprofile/base.html'%}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
{% if request.user.is_authenticated %}
<p class="col-md mx-auto">
    Usuário já autenticado, ação não permitida.
</p>
<div class="row">
    {% else %}
    <div class="col-md-3 mx-auto">
        <form action="" method="POST">
            {% csrf_token %}
            {{form | crispy}}
            <input type="submit" value="Entrar">
        </form>
    </div>
    {%endif%}
</div>
{% endblock %}