{% extends 'userprofile/base.html'%}

{% load static %}

{% block content %}

<h3>{{titulo}}</h3>

<hr>
<div class="table-responsive">
    <table class="table table-striped">
        {% for Resposta in object_list %}
        <tr>
            <p>{{Resposta.texto}}</p>
            {% if Resposta.user.nomeSocial %}
            <h6>{{Resposta.user.nomeSocial}}, {{Resposta.createdAt}}</h4>
            {% else %}
            <p>{{Resposta.user.nome}}, {{Resposta.createdAt.}}</p>
            {%endif%}
            <p></p>
            <p></p>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">Nenhum tópico criado neste forum.</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}