{% extends 'userprofile/base.html'%}

{% load static %}

{% block content %}

<h3>Lista de Subforuns cadastrados</h3>
<a href="{% url 'forumview:cadastro' %}" class="btn btn-primary btn-sm">Criar novo Subfórum</a>
<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Criador</th>
        </tr>
        {% for User in object_list %}
        <tr>
            <td>{{User.titulo}}</td>
            <td>{{User.descriçao}}</td>
            <td>{{User.categoria}}</td>
            <td>{{User.user}}</td>
            <td>
                <a href="{% url 'forumview:attCadastro' User.pk %}" class="btn btn-warning btn-sm" title="edit">E</a>
                <a href="{% url 'forumview:delCadastro' User.pk %}" class="btn btn-danger btn-sm" title="delete">X</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">Nenhum fórum registrado.</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}