{% extends 'userprofile/base.html'%}

{% load static %}

{% block content %}

<h3>Lista de Subforuns cadastrados</h3>
<a href="{% url 'forumview:criarSubforum' %}" class="btn btn-primary btn-sm">Criar novo Subfórum</a>
<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Professor responsável</th>
        </tr>
        {% for Subforum in object_list %}
        <tr>
            <td><a href="{% url 'topico:listTopico' Subforum.pk %}">{{Subforum.titulo}}</a></td>
            <td>{{Subforum.descriçao}}</td>
            <td>{{Subforum.categoria}}</td>
            <td>{{Subforum.user}}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">Nenhum fórum registrado.</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}